*{
    font-family: tahoma;
    box-sizing: border-box;

}

h2{
    background-color: coral;
    height: 40px;
    padding: 5px;
}

.judul1{
    position: sticky;
    top: 0px;
   
}
.judul2{
    position: sticky;
    top: 40px;
}

.judul3{
    position: sticky;
    bottom: 0px;
}