*{
    font-family: tahoma;
    box-sizing: border-box;
}

/* Header */

.header{
    background-color: burlywood;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    height: 100px;
    z-index: 2;
}

.header h1{
    margin-left: 50px;
}

/* Container */

.container{
    position: relative;
    top: 100px;
    z-index: 1;
    max-width: 700px;
    margin: 0px auto 0px auto;
}

.cointainer h2{
    font-size: 18px;
}

.kolom-konten{
    width: 500px;
    float: left;
}

.kolom-menu{
    background-color: aquamarine;
    float: left;
    /* margin-left: 10px; */
    width: 200px;
    padding: 10px;
}
.kolom menu ul{
    list-style-type: none;
}